<% @page_title = @card.title %>
<% @header_class = "header--card" %>
<%= turbo_stream_from @card %>

<% content_for :head do %>
  <%= card_social_tags(@card) %>
<% end %>

<% content_for :header do %>
  <%= render "filters/menu" %>

  <%= hotkeyed_link_to_collection(@card.collection) do %>
    <span class="overflow-ellipsis">
      &larr; <strong class="font-black"><%= @card.collection.name %></strong>
    </span>
  <% end %>
<% end %>

<div data-controller="beacon lightbox" data-beacon-url-value="<%= card_reading_path(@card) %>">
  <%= render "cards/container", card: @card %>
  <%= render "cards/messages",  card: @card unless @card.creating? %>

  <%= render "layouts/lightbox" do %>
    <%= button_to_remove_card_image(@card) if @card.image.attached? %>
  <% end %>
</div>
